@()
@header()

<div class="row">
    <br>
    <form class="form" method="post" autocomplete="on" action=@routes.HomeController.postProfile()>
        <div class="container">
            <div class="row">
                <h1>Please fill details below (Fields marked with * are mandatory)</h1>
            </div>
            <div class="form-group row">
                <label for="name">User Name*:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group form-inline row">
                <div class="form-group">
                    <label for="fname">First Name*:</label>
                    <input type="text" class="form-control" id="fname" name="fname" required>
                </div>

                <div class=" form-group col-md-offset-1 ">
                    <label for="mname">Middle Name:</label>
                    <input type="text" class="form-control" id="mname" name="mname">
                </div>

                <div class="form-group col-md-offset-1 ">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                </div>
            </div>
            <div class="form-group form-inline row">
                <div class="form-group  ">
                    <label for="password">Password (Min length 8, cannot be all numbers)*:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="form-group  col-md-offset-1 ">
                    <label for="repassword">Re-enter Password*:</label>
                    <input type="password" class="form-control" id="repassword" name="repassword" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile" name="mobile">
            </div>
            <div class="form-group row">
                <label class="radio-inline"><input type="radio" name="gender" value="male">Male</label>
                <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
            </div>
            <div class="form-group row">
                <label for="age">Age (18-75)*:</label>
                <input type="text" class="form-control" id="age" name="age" required>
            </div>
            <div class="form-group row">
                <label class="checkbox-inline"><input type="checkbox" name="singing" id="singing" checked="checked" value="true">Singing</label>
                <label class="checkbox-inline"><input type="checkbox" name="dancing" id="dancing" checked="checked" value="true">Dancing</label>
                <label class="checkbox-inline"><input type="checkbox" name="reading" id="reading" checked="checked" value="true">Reading</label>
                <label class="checkbox-inline"><input type="checkbox" name="sports" id="sports" checked="checked" value="true">Sports</label>
            </div>
            <input type="hidden" name="isEnabled" id="isEnabled" value = true>
            <input type="hidden" name="isAdmin" id="isAdmin"
                   @if(play.Play.application().configuration().getString("play.cache.role")=="admin"){
                        value=true
            }
            else {
            value=false
            }>
            <div class="form-group row">
                <input type="submit" class="btn btn-success">
            </div>
        </div>
    </form>

</div>
@footer()